{% extends "admin/layout/layout.twig" %}

{% block title %}Сотрудники{% endblock %}

{%block page_title%}Сотрудники{%endblock%}


{% block content %}
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
					<th>ФИО</th>
					<th>Номер телефона</th>
					<th>Статус</th>
                </tr>
                </thead>
                <tbody>
                {% for worker in workers %}
                <tr>
					<td>{{ worker.title }}</td>
					<td>{{ worker.phone }}</td>
					<td>{% if worker.status == 1 %} Свободен {% else %} Занят {% endif %}</td>
				</tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}