{% extends "admin/layout/layout.twig" %}

{% block title %}Детали{% endblock %}

{%block page_title%} Детали{%endblock%}

{%block icons%}
<a href="{{ path_for('detail.showAdminDetailList') }}" class="btn btn-link btn-float text-default">
    <i class="icon-file-plus text-primary" style="font-size: 1.4rem"></i>
    <span>все детали</span>
</a>
{%endblock%}

{% block content %}

    <form method="post"
          {% if detail.id %}
            action="{{ path_for('detail.updateDetail', {'id': detail.id}) }}"
          {% else %}
            action="{{ path_for('detail.createDetail') }}"
          {% endif %}
    >
        <div class="row">

            <div class="col-md-12">

                <div class="card">

                    <div class="card-body">
<div class="form-group row">
<label class="col-form-label col-lg-3" for="title-input">Наименование</label>
<div class="col-lg-9">
<input id="title-input" type="text" class="form-control" name="detail[title]" value="{{ detail.title }}">
</div>
</div>

{#<div class="form-group row">#}
{#<label class="col-form-label col-lg-3" for="article-input">Артикул</label>#}
{#<div class="col-lg-9">#}
{#<input id="article-input" type="text" class="form-control" name="detail[article]" value="{{ detail.article }}">#}
{#</div>#}
{#</div>#}

<div class="form-group row">
<label class="col-form-label col-lg-3" for="description-input">Описание товара</label>
<div class="col-lg-9">
<textarea id="description-input" name="detail[description]" cols="30" rows="3" class="form-control">{{detail.description }}</textarea>
</div>
</div>

<div class="form-group row">
<label class="col-form-label col-lg-3" for="units-input">Единица измерения</label>
<div class="col-lg-9">
<input id="units-input" type="text" class="form-control" name="detail[units]" value="{{ detail.units }}">
</div>
</div>

<div class="form-group row">
<label class="col-form-label col-lg-3" for="weight-input">Вес, г.</label>
<div class="col-lg-9">
<input id="weight-input" type="number" class="form-control" name="detail[weight]" value="{{ detail.weight }}">
</div>
</div>

<div class="form-group row">
<label class="col-form-label col-lg-3" for="volume-input">Длина*Ширина*Высота, см3</label>
<div class="col-lg-3">
<input id="volume-input" type="number" class="form-control" name="detail[length]" value="{{ detail.length }}">
</div>
    <div class="col-lg-3">
        <input id="volume-input" type="number" class="form-control" name="detail[width]" value="{{ detail.width }}">
    </div>
    <div class="col-lg-3">
        <input id="volume-input" type="number" class="form-control" name="detail[heigth]" value="{{ detail.heigth }}">
    </div>
</div>

{#<div class="form-group row">#}
{#<label class="col-form-label col-lg-3" for="storage_id-input">Склад</label>#}
{#<div class="col-lg-9">#}
{#    <select name="detail[storage_id]" class="form-control">#}
{#        {% for storage in storages %}#}
{#            {% if storage.id == detail.storage.id %}#}
{#                <option value="{{ storage.id }}" selected>{{ storage.title }}</option>#}
{#            {% else %}#}
{#                <option value="{{ storage.id }}">{{ storage.title }}</option>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    </select>#}
{#</div>#}
{#</div>#}

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="storage_cell-input">Количество</label>
                            <div class="col-lg-9">
                                <span>{{ detail.quantity }}</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="storage_cell-input">Список</label>
                            <div class="col-lg-9">
                                <a href="/admin/detail-entity/{{ detail.id }}/add">Добавить новый экземпляр</a>
                                <table id="details-table" class="table table-bordered table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <td>Артикул</td>
                                            <td>Место нахождение</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    {% for item in detail.itemsList %}
                                        <tr>
                                            <td>{{ item.article }}</td>
                                            <td>{{ item.storage.title }} Ячейка: {{ item.storage_cell }}</td>
                                            <td> <a href="/admin/detail-entity/{{ item.id }}">Редактировать</a></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>


</div>


                    </div>

                </div>

            </div>

        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-md-4">
                <button class="btn btn-outline-primary" type="submit">
                    Сохранить <i class="icon-attachment ml-2"></i>
                </button>
            </div>

            <div class="col-md-4">
                {% if detail.id %}
                <button id="delete-some" class="btn btn-outline-danger" type="button">
                    Удалить деталь <i class="icon-bin2 ml-2"></i>
                </button>
                {% endif %}
            </div>
        </div>

    </form>

    <form id="frm-del" action="{{ path_for('detail.deleteDetail', {'id': detail.id}) }}" method="get">
    </form>
{% endblock %}

{% block script %}

<script type="text/javascript">
    $(function() {
        $('#delete-some').click(function() {
            if (confirm('Удалить?')) {
                $('#frm-del').submit();
            }
        });
    });
</script>
{% endblock %}