{% extends "admin/layout/layout.twig" %}

{% block title %}Детали{% endblock %}

{%block page_title%} Детали{%endblock%}

{%block icons%}
<a href="{{ path_for('detail.showAdminDetailList') }}" class="btn btn-link btn-float text-default">
    <i class="icon-file-plus text-primary" style="font-size: 1.4rem"></i>
    <span>все детали</span>
</a>
{%endblock%}

{% block content %}

    <form method="post"
          {% if detail_entity.id %}
            action="{{ path_for('detailEntity.updateDetailEntity', {'id': detail_entity.id}) }}"
          {% else %}
            action="{{ path_for('detailEntity.createDetailEntity') }}"
          {% endif %}
    >
        <div class="row">

            <div class="col-md-12">

                <div class="card">

                    <div class="card-body">
<div class="form-group row">
<label class="col-form-label col-lg-3" for="title-input">Артикул</label>
<div class="col-lg-9">
<input id="title-input" type="text" class="form-control" name="detail_entity[article]" value="{{ detail_entity.article }}">
<input type="hidden" name="detail_entity[detail_id]" value="{% if detail_entity.detail_id %}{{ detail_entity.detail_id }}{% else %}{{ detail_id }}{% endif %}">
</div>
</div>


<div class="form-group row">
<label class="col-form-label col-lg-3" for="storage_id-input">Склад</label>
<div class="col-lg-9">
    <select name="detail_entity[storage_id]" class="form-control">
        {% for storage in storages %}
            {% if storage.id == detail_entity.storage.id %}
                <option value="{{ storage.id }}" selected>{{ storage.title }}</option>
            {% else %}
                <option value="{{ storage.id }}">{{ storage.title }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
</div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="title-input">Ячейка</label>
                            <div class="col-lg-9">
                                <input id="title-input" type="text" class="form-control" name="detail_entity[storage_cell]" value="{{ detail_entity.storage_cell }}">
                            </div>
                        </div>

                </div>


                    </div>

                </div>

            </div>

        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-md-4">
                <button class="btn btn-outline-primary" type="submit">
                    Сохранить <i class="icon-attachment ml-2"></i>
                </button>
            </div>

            <div class="col-md-4">
                {% if detail_entity.id %}
                <button id="delete-some" class="btn btn-outline-danger" type="button">
                    Удалить деталь <i class="icon-bin2 ml-2"></i>
                </button>
                {% endif %}
            </div>
        </div>

    </form>

    <form id="frm-del" action="{{ path_for('detailEntity.deleteDetailEntity', {'id': detail_entity.id}) }}" method="get">
    </form>
{% endblock %}

{% block script %}

<script type="text/javascript">
    $(function() {
        $('#delete-some').click(function() {
            if (confirm('Удалить?')) {
                $('#frm-del').submit();
            }
        });
    });
</script>
{% endblock %}