{% extends "admin/layout/layout.twig" %}

{% block title %}Детали{% endblock %}

{%block page_title%}Детали{%endblock%}

{%block icons%}
<a href="{{ path_for('detail.showAdminDetailAdd') }}" class="btn btn-link btn-float text-default">
    <i class="icon-file-plus text-primary" style="font-size: 1.4rem"></i>
    <span>создать Деталь</span>
</a>
{%endblock%}


{% block content %}
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
			<th>Наименование</th>
			<th>Описание</th>
			<th>Единица измерения</th>
			<th>Вес, г.</th>
			<th>Количество</th>
			<th>Дата постановки на учет</th>
                </tr>
                </thead>
                <tbody>
                {% for detail in details %}
                <tr>
			<td>
				<a href="{{ path_for('detail.showAdminDetailEdit', {'id':detail.id}) }}">{{ detail.title}}</a>
			</td>
			<td>
				<a href="{{ path_for('detail.showAdminDetailEdit', {'id':detail.id}) }}">{{ detail.description}}</a>
			</td>
			<td>
				<a href="{{ path_for('detail.showAdminDetailEdit', {'id':detail.id}) }}">{{ detail.units}}</a>
			</td>
			<td>
				<a href="{{ path_for('detail.showAdminDetailEdit', {'id':detail.id}) }}">{{ detail.weight}}</a>
			</td>

					<td>
						<a href="{{ path_for('detail.showAdminDetailEdit', {'id':detail.id}) }}">{{ detail.quantity}}</a>
					</td>
			<td>
				<a href="{{ path_for('detail.showAdminDetailEdit', {'id':detail.id}) }}">{{ detail.created_at}}</a>
			</td>
			<td>
				<a href="{{ path_for('detail.showAdminDetailEdit', {'id':detail.id}) }}">{{ detail.updated_at}}</a>
			</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}