{% extends "admin/layout/layout.twig" %}

{% block title %}Навигация{% endblock %}

{% block page_title%}{% if menu.id %}Навигация{% else %}Создать навигацию{% endif %}{% endblock %}

{% block icons %}
    <a href="{{ path_for('navigation.showAdminNavigationList') }}" class="btn btn-link btn-float text-default">
        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
        <span>Список навигаций</span>
    </a>
{% endblock %}

{% block content %}
     <div class="card">
            <div class="card-body">
                <form
                        method="post"
                        {% if menu.id %}
                            action="{{ path_for('navigation.updateNavigation', {'id': menu.id}) }}"
                        {% else %}
                            action="{{ path_for('navigation.createNavigation') }}"
                        {% endif %}
                >
                    <div class="row">

                        <div class="col-md-4">

                            <div class="form">

                                <div class="col-md-12">
                                    <div class="row">
                                        <label for="title-input">Название</label>
                                        <input id="title-input" type="text" class="form-control" name="menu[title]" value="{{ menu.title }}">
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-8">

                        </div>

                    </div>

                    <div class="row" style="margin-top: 15px">
                        <div class="col-md-5">
                            <div class="row">

                                <button class="btn btn-success {% if menu.id %}col{% else %}ml-3{% endif %} mr-1" type="submit">Сохранить</button>

                                {% if menu.id %}
                                    <button onclick="window.location.href = '{{ path_for('navigation.showAdminNavigationItemList', {'id': menu.id}) }}'"
                                            id="edit-menu" class="btn btn-warning col ml-1 mr-1" type="button">Настроить
                                    </button>
                                {% endif %}

                                {% if menu.id %}
                                    <button id="delete-menu" class="btn btn-danger col mr-1 ml-1" type="button">Удалить меню</button>
                                {% endif %}

                            </div>
                        </div>

                    </div>

                </form>

                <form id="frm-del-menu" action="{{ path_for('navigation.deleteNavigation', {'id': menu.id}) }}"
                      method="get">
                </form>
            </div>
     </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function () {
            $('#delete-menu').click(function () {
                if (confirm('Удалить меню?')) {
                    $('#frm-del-menu').submit();
                }
            });
        });
    </script>
{% endblock %}