{% extends "admin/layout/layout.twig" %}

{% block title %}{% endblock %}

{% block links %}

{% endblock %}

{% block content %}

    <style>
        #preview {
            display: flex;
            flex-wrap: wrap;
        }

        .img-prev-block {
            position: relative;
            width: 151px;
            height: 150px;
            border: 1px solid #324148;
            border-radius: 4px;
            margin-right: 12px;
            margin-bottom: 5px;
            cursor: pointer;
        }

        .sortable {
            background-size: cover;
            background-position: center;
            display: inline-block;
        }

        #fileInput {
            position: absolute;
            top: 0;
            width: 150px;
            height: 150px;
            cursor: pointer;
            opacity: 0;
        }

        .plus {
            font-size: 6em;
            margin-top: 31px;
        }

        .btn_remove {
            position: absolute;
            top: -2px;
            right: -2px;
            font-size: 1.8em;
        }

        .btn_remove:hover {
            color: #e0041a;
        }

    </style>

    <div class="container">


        <div id="preview">

            <div class="sortable img-prev-block" :data-id="file.id" :data-index="file.index" v-for="file,i in files"
                 :style="{ backgroundImage: `url('${file.path}')` }">
                <i class="btn_remove icon-x" @click="removeFile(file,i)"></i>
            </div>

            <div class="img-prev-block text-center">
                <i class="icon-plus2 plus"></i>
                <input id="fileInput" type="file" @change="loadFiles" title="" multiple>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button class="btn" @click="save">Сохранить</button>
            </div>
        </div>

    </div>
{% endblock %}


{% block script %}
    <script src="/assets/admin/libs/jQuery/plugins/sortable.js"></script>

    <script>
        var vm = new Vue({
            el: '.container',
            delimiters: ['${', '}'],
            data: {
                files: {% if user.files %}{{ user.files|json_encode|raw }}{% else %}[]{% endif %},
                form_data: new FormData(),
                len: 0,
                sortable: null
            },
            methods: {
                loadFiles() {
                    var files = document.getElementById('fileInput').files;

                    Object.keys(files).forEach((key) => {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            vm.len++;
                            vm.files.push({index: +vm.len, path: e.target.result});
                        };
                        reader.readAsDataURL(files[key]);

                        vm.form_data.append('files[]', files[key]);
                    });

                    this.setSortable();
                },
                save() {
                    var sortable = $('#preview').children('.sortable');
                    var info_to_api = [];
                    Object.keys(sortable).forEach((key) => {
                        if (+key >= 0) {
                            var data = $(sortable[key]).data();
                            info_to_api.push(data);
                        }
                    });
                    vm.form_data.append('position', JSON.stringify(info_to_api));

                    $.ajax({
                        url: '/api/uploader',
                        dataType: 'text',
                        cache: false,
                        contentType: false,
                        processData: false,
                        data: vm.form_data,
                        type: 'post'
                    }).done(function (resp) {
                        resp = JSON.parse(resp);
                        vm.sortable.destroy();
                        vm.files = [];
                        vm.$nextTick(() => {
                            vm.files = resp;
                            vm.setSortable();
                        });
                        vm.len = 0;
                        $('#fileInput').prop('value', null);
                        vm.form_data = new FormData();
                    });
                },
                removeFile(file, i){
                    if (!confirm('Удалить файл?')) return false;
                    if (file.id){
                        $.ajax({
                            url: '/api/uploader',
                            method: 'delete',
                            data:{id: file.id}
                        }).done(()=>{
                            vm.files.splice(i,1);
                        });
                    }else {
                        var files = vm.form_data.getAll('files[]');
                        files.splice(file.index-1,1);
                        vm.form_data.delete('files[]');
                        files.forEach((file)=>{
                            vm.form_data.append('files[]', file);
                        });
                        vm.files.splice(i,1);
                        vm.files.forEach((file,key)=>{
                            file.index = key+1;
                        });
                    }
                },
                setSortable() {
                    var preview = document.getElementById('preview');
                    this.sortable = Sortable.create(preview, {
                        group: 'files',
                        draggable: '.sortable'
                    });
                }
            },
            mounted() {
                this.setSortable()
            }
        });
    </script>
{% endblock %}