{% extends "admin/layout/layout.twig" %}

{% block title %}{% endblock %}

{% block page_title %}{% if floor.id %}{{ floor.floor }} этаж{% else %}Новый этаж{% endif %}{% endblock %}


{% block links %}
    <script src="/assets/admin/leaflet/leaflet-src.js"></script>
    <link rel="stylesheet" href="/assets/admin/leaflet/leaflet.css"/>

    <script src="/assets/admin/libs/leaflet_draw/Leaflet.draw.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/Leaflet.Draw.Event.js"></script>
    <link rel="stylesheet" href="/assets/admin/libs/leaflet_draw/leaflet.draw.css"/>

    <script src="/assets/admin/libs/leaflet_draw/Toolbar.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/Tooltip.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/ext/GeometryUtil.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/LatLngUtil.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/LineUtil.Intersect.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/Polygon.Intersect.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/Polyline.Intersect.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/TouchEvents.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/draw/DrawToolbar.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Feature.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.SimpleShape.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Polyline.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Marker.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Circle.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.CircleMarker.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Polygon.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Rectangle.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/edit/EditToolbar.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/EditToolbar.Edit.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/EditToolbar.Delete.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/Control.Draw.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.Poly.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.SimpleShape.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.Rectangle.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.Marker.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.CircleMarker.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.Circle.js"></script>

{% endblock %}

{% block icons %}
    <a href="{{ path_for('building.showAdminBuildingsList') }}" class="btn btn-link btn-float text-default">
        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
        <span>Список этажей</span>
    </a>
{% endblock %}

{% block content %}
    <form method="post"
          enctype="multipart/form-data"
            {% if floor.id %}
                action="{{ path_for('floor.updateFloor', {building_id:building.id, id:floor.id}) }}"
            {% else %}
                action="{{ path_for('floor.createFloor', {building_id:building.id}) }}"
            {% endif %}
    >
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-body">

                        <div class="form-group row">
                            <label for="">Этаж</label>
                            <input type="number" class="form-control" required name="floor[floor]"
                                   value="{{ floor.floor }}">
                        </div>

                        <div class="form-group row">
                            <label for="">Макс. ширина</label>
                            <input type="text" class="form-control" required name="floor[width]"
                                   value="{{ floor.width }}">
                        </div>

                        <div class="form-group row">
                            <label for="">Макс. длина</label>
                            <input type="text" class="form-control" required name="floor[height]"
                                   value="{{ floor.height }}">
                        </div>

                        <div class="form-group row">
                            <label for="">План этажа</label>
                            <input type="file" class="form-control" {% if not floor.id %} required {% endif %} name="file">
                        </div>

                        {% if floor.id %}
                            <div class="row">
                                <div id="map" style="height: 500px" class="col-12"></div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        {% if floor.id %}
        var path = [];
        var paths = {{ geo|json_encode|raw }};

        var map = L.map('map', {
            crs: L.CRS.Simple,
        });

        var floor = {{ floor|json_encode|raw }};

        var bounds = [[0, 0], [floor.height, floor.width]];
        var image = L.imageOverlay(floor.plan_path, bounds).addTo(map);

        map.fitBounds(bounds);

        var drawnItems = new L.FeatureGroup();
        drawZones();
        drawTops();
        drawPaths();
        map.addLayer(drawnItems);
        var drawControl = new L.Control.Draw({
            edit: {
                featureGroup: drawnItems
            },
            draw: {
                circle: false,
                rectangle: false,
                marker: false,
                polyline: false
            }
        });

        map.addControl(drawControl);
        map.on(L.Draw.Event.CREATED, function (event) {
            var type = event.layerType,
                layer = event.layer;

            if (type === 'polygon') {
                drawPolygon(layer);
            }

            if (type === 'circlemarker') {
                drawMarker(layer);
            }

            drawnItems.addLayer(layer);
        });

        function drawZones(){
            floor.zones.forEach((pol)=>{
                pol.geo = JSON.parse(pol.geo);
                L.geoJSON(pol.geo).addTo(map).bindTooltip(pol.title,
                    {
                        permanent: true,
                        direction: 'auto'
                    });
            })
        }

        function drawPolygon(layer) {
            let poly = {};
            poly.title = prompt("Название зоны: ");
            poly.geo = layer.toGeoJSON();
            savePoly(poly, layer);
        }

        function checkPolygonsContainsMarker(marker) {
            let zone = false;
            floor.zones.some((pol) => {
                var xp = [], yp = [];
                pol.geo.geometry.coordinates[0].forEach(c => {
                    yp.push(c[0]);
                    xp.push(c[1]);
                });
                if (inPoly(marker.getLatLng().lat, marker.getLatLng().lng, xp, yp)) {
                    zone = pol;
                    return true;
                }
            });
            return zone;
        }

        function drawTops(){
            floor.tops.forEach((top)=>{
                top.geo = JSON.parse(top.geo);
                var marker = new L.geoJSON(top.geo).addTo(map).bindTooltip(''+top.id,
                    {
                        permanent: false,
                        direction: 'auto'
                    }).on('click', markerClick);
                marker.dataId = top.id;
            })
        }


        function markerClick(marker) {
            if (path[0]){
                if (path[0].id == this.dataId){
                    return false;
                }
            }
            path.push({id: this.dataId, point: marker.latlng});
            if (path.length === 2) {
                set_path = false;
                var line = drawLine(path);
                savePath(path, line);
                path = [];
            }
        }

        function drawLine(path){
            var A = new L.LatLng(path[0].point.lat, path[0].point.lng);
            var B = new L.LatLng(path[1].point.lat, path[1].point.lng);
            return new L.Polyline([A, B], {
                color: 'red',
                weight: 3,
            }).addTo(map);
        }

        function savePath(path, line) {
            let asc = path[0].id > path[1].id;
            if (asc){
                let first = path[0].id;
                let sec = path[1].id
            } else {
                let first = path[1].id;
                let sec = path[0].id
            }

            $.ajax({
                url: '{{ path_for('top.savePath', {id:floor.id}) }}',
                method: 'post',
                data:{
                    f_top_id: path[0].id,
                    s_top_id: path[1].id,
                    score: Math.sqrt(Math.pow(path[1].point.lat - path[0].point.lat,2) + Math.pow(path[1].point.lng - path[0].point.lng,2)),
                    geo: JSON.stringify(line.toGeoJSON())
                }
            })
        }

        function drawPaths() {
            paths.forEach((p)=>{
                p = JSON.parse(p);
                L.geoJSON(p).addTo(map)
            });
        }

        function drawMarker(layer){
            let marker = {};
            marker.zone_id = checkPolygonsContainsMarker(layer);
            if (marker.zone_id){
                marker.zone_id = marker.zone_id.id;
            }
            marker.geo = layer.toGeoJSON();

            $.ajax({
                url: '{{ path_for('top.saveTop', {id:floor.id}) }}',
                method: 'post',
                data:{
                    zone_id: marker.zone_id,
                    geo: JSON.stringify(marker.geo)
                }
            }).done(resp=>{
                resp = JSON.parse(resp);
                floor.tops.push(resp);
                layer.bindTooltip(''+ resp.id,
                    {
                        permanent: false,
                        direction: 'auto'
                    }).on('click', markerClick);
                layer.dataId = resp.id;

            });
        }

        function savePoly(poly, layer) {
            $.ajax({
                url: '{{ path_for('zone.saveZone', {id:floor.id}) }}',
                method: 'post',
                data:{
                    title: poly.title,
                    geo: JSON.stringify(poly.geo)
                }
            }).done(resp=>{
                resp = JSON.parse(resp);
                floor.zones.push(resp);
                layer.bindTooltip(poly.title,
                    {
                        permanent: true,
                        direction: 'auto'
                    });
            });
        }

        function inPoly(x, y, xp, yp) {
            npol = xp.length;
            j = npol - 1;
            var c = 0;
            for (i = 0; i < npol; i++) {
                if ((((yp[i] <= y) && (y < yp[j])) || ((yp[j] <= y) && (y < yp[i]))) &&
                    (x > (xp[j] - xp[i]) * (y - yp[i]) / (yp[j] - yp[i]) + xp[i])) {
                    c = !c
                }
                j = i;
            }
            return c;
        }
        {% endif %}
    </script>
{% endblock %}