{% extends "admin/layout/layout.twig" %}

{% block title %}Список этажей{% endblock %}

{% block page_title %}Список этажей{% endblock %}

{% block links %}

{% endblock %}
{% block icons %}
    <a href="{{ path_for('floor.showAdminFloorAdd', {id:building.id}) }}" class="btn btn-link btn-float text-default">
        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
        <span>Добавить этаж</span>
    </a>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% for floor in building.floors %}
                <a href="{{ path_for('floor.showAdminFloorEdit', {building_id:building.id, id:floor.id}) }}">{{ floor.floor }} этаж</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}