{% extends "admin/layout/layout.twig" %}

{% block title %}{% endblock %}

{% block page_title %}{% if building.id %}{{ building.title }}{% else %}Новое здание{% endif %}{% endblock %}

{% block icons %}
    {% if building.id %}
    <a href="{{ path_for('floor.showAdminFloorsList', {id:building.id}) }}" class="btn btn-link btn-float text-default">
        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
        <span>Этажи</span>
    </a>
    {% endif %}
    <a href="{{ path_for('building.showAdminBuildingsList') }}" class="btn btn-link btn-float text-default">
        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
        <span>Список зданий</span>
    </a>
{% endblock %}

{% block content %}
    <form method="post"
            {% if building.id %}
                action="{{ path_for('building.updateBuilding', {id:building.id})}}"
            {% else %}
                action="{{ path_for('building.createBuilding')}}"
            {% endif %}
    >
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-body">

                        <div class="form-group row">
                            <label for="">Название</label>
                            <input type="text" class="form-control" name="building[title]" value="{{ building.title }}">
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript">

    </script>
{% endblock %}