{% extends "admin/layout/layout.twig" %}

{% block title %}Наряды на перемещение{% endblock %}

{%block page_title%}Наряды на перемещение{%endblock%}

{%block icons%}
<a href="{{ path_for('request.showAdminRequestAdd') }}" class="btn btn-link btn-float text-default">
    <i class="icon-file-plus text-primary" style="font-size: 1.4rem"></i>
    <span>создать Наряд</span>
</a>
{%endblock%}


{% block content %}
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
			<th>Откуда</th>
			<th>Куда</th>
                </tr>
                </thead>
                <tbody>
                {% for request in requests %}
                <tr>
			<td>
				<a href="{{ path_for('request.showAdminRequestEdit', {'id':request.id}) }}">{{ request.place_form.title}}</a>
			</td>
			<td>
				<a href="{{ path_for('request.showAdminRequestEdit', {'id':request.id}) }}">{{ request.place_to.title}}</a>
			</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}