{% extends "admin/layout/layout.twig" %}

{% block title %}Наряд{% endblock %}

{% block page_title %}Наряд{% endblock %}

{% block links %}
    <script src="/assets/admin/leaflet/leaflet-src.js"></script>
    <link rel="stylesheet" href="/assets/admin/leaflet/leaflet.css"/>

    <script src="/assets/admin/libs/leaflet_draw/Leaflet.draw.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/Leaflet.Draw.Event.js"></script>
    <link rel="stylesheet" href="/assets/admin/libs/leaflet_draw/leaflet.draw.css"/>

    <script src="/assets/admin/libs/leaflet_draw/Toolbar.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/Tooltip.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/ext/GeometryUtil.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/LatLngUtil.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/LineUtil.Intersect.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/Polygon.Intersect.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/Polyline.Intersect.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/TouchEvents.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/draw/DrawToolbar.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Feature.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.SimpleShape.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Polyline.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Marker.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Circle.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.CircleMarker.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Polygon.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Rectangle.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/edit/EditToolbar.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/EditToolbar.Edit.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/EditToolbar.Delete.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/Control.Draw.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.Poly.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.SimpleShape.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.Rectangle.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.Marker.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.CircleMarker.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.Circle.js"></script>
{% endblock %}
{% block icons %}
    <a href="{{ path_for('request.showAdminRequestAdd') }}" class="btn btn-link btn-float text-default">
        <i class="icon-file-plus text-primary" style="font-size: 1.4rem"></i>
        <span>все наряды</span>
    </a>
{% endblock %}

{% block content %}

    <form method="post"
            {% if request.id %}
                action="{{ path_for('request.updateRequest', {'id': request.id}) }}"
            {% else %}
                action="{{ path_for('request.createRequest') }}"
            {% endif %}
    >
        <div class="row">

            <div class="col-md-12">

                <div class="card">

                    <div class="card-body">

                        {% if request.id %}
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3" for="title-input">ID</label>
                                <div class="col-lg-9">
                                    {{ request.id }}
                                </div>
                            </div>
                        {% endif %}


                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="title-input">Откуда</label>
                            <div class="col-lg-9">
                                <select name="request[from]" class="form-control" onchange="setFrom(this)">
                                    <option value=""></option>
                                    {% for place in places %}
                                        {% if place.id == request.placeForm.id %}
                                            <option value="{{ place.id }}" selected>{{ place.title }}</option>
                                        {% else %}
                                            <option value="{{ place.id }}">{{ place.title }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="title-input">Куда</label>
                            <div class="col-lg-9">
                                <select name="request[to]" class="form-control" onchange="setTo(this)">
                                    <option value=""></option>
                                    {% for place in places %}
                                        {% if place.id == request.placeTo.id %}
                                            <option value="{{ place.id }}" selected>{{ place.title }}</option>
                                        {% else %}
                                            <option value="{{ place.id }}">{{ place.title }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <a style="display: none" id="showMapHref" href="javascript: showMap();">Маршрут перемещения</a>
                            </div>
                        </div>

                        <!-- Large modal -->
                        <div id="mapModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Маршрут перемещения</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="map" style="height: 400px; width: 100%"></div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="title-input">Назначенное время доставки</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control datetimere" autocomplete="off" name="request[delivery_time]" value="{{ request.delivery_time }}">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="title-input">Необходимые детали</label>
                            <div class="col-lg-9">
                                <input id="hidden-details" type="hidden" name="details">
                                <table id="details-table" class="table table-bordered table-responsive table-striped"
                                       style="margin:0px auto auto auto;"></table>
                                <div id="json-details" data-json="{{ details_list|json_encode }}"></div>
                            </div>

                        </div>


                    </div>


                </div>

            </div>

        </div>

        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-md-4">
                <button class="btn btn-outline-primary" type="submit">
                    Сохранить <i class="icon-attachment ml-2"></i>
                </button>
            </div>

            <div class="col-md-4">
                {% if detail.id %}
                    <button id="delete-some" class="btn btn-outline-danger" type="button">
                        Удалить деталь <i class="icon-bin2 ml-2"></i>
                    </button>
                {% endif %}
            </div>
        </div>

    </form>

    <form id="frm-del" action="{{ path_for('request.deleteRequest', {'id': request.id}) }}" method="get">
    </form>
{% endblock %}

{% block script %}
    <script>
        var from, to;
        function setFrom(el){
            from = el.value;
            checkSelects()
        }

        function setTo(el) {
            to = el.value;
            checkSelects()
        }

        function checkSelects(){
            if (from && to){
                enableMap();
            }
        }


        function showMap() {
            $('#mapModal').modal('show');
            $.ajax({
                url: '{{ path_for('route.getRouteWithMap') }}',
                method: 'post',
                data:{
                    from: from,
                    to: to
                }
            }).done(resp=>{
                resp = JSON.parse(resp);
                initMap(resp);
            });
        }

        function enableMap() {
            document.getElementById('showMapHref').style.display = 'inherit';
        }

        function initMap(opt) {
            var map = L.map('map', {
                crs: L.CRS.Simple,
            });

            var bounds = [[0, 0], [opt.floor.height, opt.floor.width]];
            var image = L.imageOverlay(opt.floor.plan_path, bounds).addTo(map);

            map.fitBounds(bounds);
            var drawnItems = new L.FeatureGroup();
            map.addLayer(drawnItems);

            opt.floor.zones.forEach((pol)=>{
                pol.geo = JSON.parse(pol.geo);
                L.geoJSON(pol.geo).addTo(map).bindTooltip(pol.title,
                    {
                        permanent: true,
                        direction: 'auto'
                    });
            });

            opt.paths.forEach((p)=>{
                p = JSON.parse(p.geo);
                L.geoJSON(p).addTo(map)
            });

            opt.tops.forEach((top)=>{
                top.geo = JSON.parse(top.geo);
                L.geoJSON(top.geo).addTo(map).bindTooltip(''+top.id,
                    {
                        permanent: false,
                        direction: 'auto'
                    });
            })
        }
    </script>

    <script type="text/javascript">

        $(function () {
            $("#details-table").dynamicTable({
                columns: [
                    {
                        text: "ID",
                        key: "id"
                    },
                    {
                        text: "Наименование",
                        key: "title"
                    },
                    {
                        text: "Количество",
                        key: "pivot_quantity"
                    }
                ],
                {% if request.details %}
                data: {{ request.details|json_encode|raw }},
                {% endif %}

                getControl: function (columnKey) {
                    if (columnKey == "pivot_quantity") {
                        return '<input type="number" value="1" class="form-control" />';
                    }
                    if (columnKey == "id") {
                        return '<input type="text" class="form-control" />';
                    }

                    if (columnKey == "title") {
                        // return '<input type="text" class="form-control" />';
                        // return '<select class="form-control"><option value="fix">Фиксированно</option><option value="proc">Проценты</option></select>';
                        return '<select class="form-control">' +
                                {% for detail in details_list|raw %}
                            '<option value="{{ detail.title }}">{{ detail.title }}</option>' +
                                {% endfor %}
                            '</select>';
                    }

                },
                buttons: {
                    addButton: '<div class="add">Добавить </div>',
                    cancelButton: '<div class="cancel">Отменить </div>',
                    deleteButton: '<div class="delete">Удалить </div>',
                    editButton: '<div class="edit">Редактировать </div>',
                    saveButton: '<div class="save">Сохранить </div>',
                },
            });
            $('#details-table td:nth-child(2)').css('display', 'none');
            $('#details-table th:nth-child(2)').css('display', 'none');
            $('form').on('submit', function (event) {
                event.preventDefault();
                var data = $("#details-table").getTableData();
                $('#hidden-details').val(JSON.stringify(data));
                $(this).unbind('submit').submit();
            });

        });

        $(function () {
            $('#delete-some').click(function () {
                if (confirm('Удалить?')) {
                    $('#frm-del').submit();
                }
            });
        });
    </script>
{% endblock %}