{% extends "admin/layout/layout.twig" %}

{% block title %}Список пользователей{% endblock %}

{% block page_title %}Пользователи{% endblock %}

{% block icons %}
    <a href="{{ path_for('user.showAdminUserAdd') }}"
       class="btn btn-link btn-float text-default">
        <i class="icon-user-plus text-primary" style="font-size: 1.4rem"></i>
        <span>Добавить</span>
    </a>
    <a href="{{ path_for('role.showAdminRoleList') }}" class="btn btn-link btn-float text-default">
        <i class="icon-gear text-primary" style="font-size: 1.4rem"></i>
        <span>Роли</span>
    </a>
{% endblock %}

{% block content %}
    <style>
        td a:hover, td a:visited, td a:link, td a:active {
            width: 100%;
            color: inherit;
            text-decoration: none;
            display: block;
        }
    </style>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Email (логин)</th>
                    <th>Инициалы</th>
                    <th>Роль</th>
                    <th>Дата добавления</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            <a href="{{ path_for('user.showAdminUserEdit', {'id':user.id}) }}">{{ user.email }}</a>
                        </td>
                        <td>
                            <a href="{{ path_for('user.showAdminUserEdit', {'id':user.id}) }}">{{ user.first_name }} {{ user.last_name }}</a>
                        </td>
                        <td>
                            <a href="{{ path_for('user.showAdminUserEdit', {'id':user.id}) }}">{{ user.role|first.name }}</a>
                        </td>
                        <td>
                            <a href="{{ path_for('user.showAdminUserEdit', {'id':user.id}) }}">{{ user.created_at|date("Y - m - d") }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}



{% endblock %}