{% extends "admin/layout/layout.twig" %}

{% block title %}Новое здание{% endblock %}

{% block page_title %}Новое здание{% endblock %}

{% block links %}
    <script src="/assets/admin/leaflet/leaflet-src.js"></script>
    <link rel="stylesheet" href="/assets/admin/leaflet/leaflet.css"/>

    <script src="/assets/admin/libs/leaflet_draw/Leaflet.draw.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/Leaflet.Draw.Event.js"></script>
    <link rel="stylesheet" href="/assets/admin/libs/leaflet_draw/leaflet.draw.css"/>

    <script src="/assets/admin/libs/leaflet_draw/Toolbar.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/Tooltip.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/ext/GeometryUtil.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/LatLngUtil.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/LineUtil.Intersect.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/Polygon.Intersect.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/Polyline.Intersect.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/TouchEvents.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/draw/DrawToolbar.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Feature.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.SimpleShape.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Polyline.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Marker.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Circle.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.CircleMarker.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Polygon.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Rectangle.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/edit/EditToolbar.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/EditToolbar.Edit.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/EditToolbar.Delete.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/Control.Draw.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.Poly.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.SimpleShape.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.Rectangle.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.Marker.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.CircleMarker.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.Circle.js"></script>

{% endblock %}
{% block icons %}
{#    <a href="{{ path_for('map.showAddBuilding') }}" class="btn btn-link btn-float text-default">#}
{#        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>#}
{#        <span>Добавить здание</span>#}
{#    </a>#}
{% endblock %}

{% block content %}
    <style>
        #map {
            width: 100%;
            height: 500px;
        }
</style>


    <div  class="card">
        <div  class="card-body">
            <div id="page">
                <div v-if="step == 1">
                    <label for="">Название здания</label>
                    <input type="text" v-model="building.title">

                    <button @click="createBuilding">Далее</button>
                </div>
                <div v-if="step == 2">
                    <div class="row">
                        <label for="">Выберите план сооружения</label>
                        <input type="file" id="plan_file">

                        <label for="">Ширина</label>
                        <input type="text" v-model="building.width">

                        <label for="">Длина</label>
                        <input type="text" v-model="building.height">

                        <label for="">Этаж</label>
                        <input type="text" v-model="building.floor">

                        <button class="btn" @click="loadPlan">Продолжить</button>
                    </div>
                </div>
                <div v-if="step == 3" class="row">
                    <div class="col-12">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var test;
        var build = new Vue({
            el: '#page',
            delimiteres: ['${', '}'],
            data:{
                step: 1,
                building:{
                    id: '',
                    title: '',
                    plan_path: '',
                    width: '',
                    height: ''
                },
                polygons: [],
                map: null,
            },
            methods:{
                createBuilding(){
                    $.ajax({
                        url: '{{ path_for('map.createBuilding') }}',
                        method: 'post',
                        data:{
                            title: this.building.title
                        }
                    }).done(resp=>{
                        this.building.id = resp.id;
                        this.step = 2;
                    });
                },
                loadPlan(){
                    var file = document.getElementById('plan_file').files[0];
                    var data = new FormData();
                    data.append('file', file);
                    data.append('id', this.building.id);
                    data.append('width', this.building.width);
                    data.append('height', this.building.height);
                    data.append('floor', this.building.floor);

                    $.ajax({
                        url: '{{ path_for('map.loadPlan') }}',
                        method: 'post',
                        data: data,
                        dataType: false,
                        processData: false,
                        contentType: false
                    }).done(resp => {
                        resp = JSON.parse(resp);
                        this.building.plan_path = resp.path;

                        this.step = 3;

                        this.$nextTick(()=>{
                            var image = new Image();
                            image.src = resp.path;

                            image.addEventListener('load', () => {
                                this.map = L.map('map', {
                                    crs: L.CRS.Simple,
                                });

                                var bounds = [[0,0], [this.building.height,this.building.width]];
                                var image = L.imageOverlay(this.building.plan_path, bounds).addTo(this.map);

                                this.map.fitBounds(bounds);

                                var drawnItems = new L.FeatureGroup();
                                this.map.addLayer(drawnItems);
                                var drawControl = new L.Control.Draw({
                                    edit: {
                                        featureGroup: drawnItems
                                    }
                                });
                                this.map.addControl(drawControl);


                                this.map.on(L.Draw.Event.CREATED, function (event) {
                                    var type = event.layerType,
                                        layer = event.layer;
                                    if (type === 'polygon') {
                                        let new_el = {};
                                        new_el.title = prompt("Название зоны: ");
                                        new_el.geo = layer.toGeoJSON();
                                        build.polygons.push(new_el);
                                        layer.bindTooltip(new_el.title,
                                            {
                                                permanent: true,
                                                direction: 'right'
                                            });
                                        build.savePolygons();
                                    }
                                    drawnItems.addLayer(layer);
                                });
                            });
                        })
                    });
                },
                savePolygons(){
                    $.ajax({
                        url: '{{ path_for('map.savePolygons') }}',
                        method: 'post',
                        data:{
                            id: this.building.id,
                            polygons: JSON.stringify(this.polygons)
                        }
                    })
                }
            }
        });
    </script>
{% endblock %}