{% extends "admin/layout/layout.twig" %}

{% block title %}Просмотр этажа{% endblock %}

{% block page_title %}Просмотр этажа{% endblock %}

{% block links %}
    <script src="/assets/admin/leaflet/leaflet-src.js"></script>
    <link rel="stylesheet" href="/assets/admin/leaflet/leaflet.css"/>

    <script src="/assets/admin/libs/leaflet_draw/Leaflet.draw.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/Leaflet.Draw.Event.js"></script>
    <link rel="stylesheet" href="/assets/admin/libs/leaflet_draw/leaflet.draw.css"/>

    <script src="/assets/admin/libs/leaflet_draw/Toolbar.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/Tooltip.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/ext/GeometryUtil.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/LatLngUtil.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/LineUtil.Intersect.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/Polygon.Intersect.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/Polyline.Intersect.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/ext/TouchEvents.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/draw/DrawToolbar.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Feature.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.SimpleShape.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Polyline.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Marker.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Circle.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.CircleMarker.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Polygon.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/draw/handler/Draw.Rectangle.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/edit/EditToolbar.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/EditToolbar.Edit.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/EditToolbar.Delete.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/Control.Draw.js"></script>

    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.Poly.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.SimpleShape.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.Rectangle.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.Marker.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.CircleMarker.js"></script>
    <script src="/assets/admin/libs/leaflet_draw/edit/handler/Edit.Circle.js"></script>

{% endblock %}
{% block icons %}
        <a href="{{ path_for('map.showAddBuilding') }}" class="btn btn-link btn-float text-default">
            <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
            <span>Добавить этаж</span>
        </a>
{% endblock %}

{% block content %}
    <style>
        #map {
            width: 100%;
            height: 500px;
        }
    </style>


    <div  class="card">
        <div  class="card-body">
            <div id="page">
                <div class="row">
                    <div class="col-12">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var test;
        var build = new Vue({
            el: '#page',
            delimiteres: ['${', '}'],
            data:{
                building: {{ building|raw }},
                map: null,
            },
            methods:{
                initMap(){
                    this.map = L.map('map', {
                        crs: L.CRS.Simple,
                    });

                    var bounds = [[0,0], [this.building.height,this.building.width]];
                    var image = L.imageOverlay(this.building.plan_path, bounds).addTo(this.map);

                    this.map.fitBounds(bounds);

                    var drawnItems = new L.FeatureGroup();
                    this.map.addLayer(drawnItems);
                    var drawControl = new L.Control.Draw({
                        edit: {
                            featureGroup: drawnItems
                        }
                    });
                    this.map.addControl(drawControl);

                    this.drawPolygons();

                    this.map.on(L.Draw.Event.CREATED, function (event) {
                        var type = event.layerType,
                            layer = event.layer;
                        if (type === 'polygon') {
                            let new_el = {};
                            new_el.title = prompt("Название зоны: ");
                            new_el.geo = layer.toGeoJSON();
                            build.building.zones.push(new_el);
                            layer.bindTooltip(new_el.title,
                                {
                                    permanent: true,
                                    direction: 'auto'
                                });
                            build.savePolygons();
                        }

                        if (type === 'marker'){
                            build.checkPolygonsContainsMarker(layer);
                            layer.bindTooltip('new_el.title',
                                {
                                    permanent: false,
                                    direction: 'auto'
                                });

                        }
                        drawnItems.addLayer(layer);
                    });
                },
                checkPolygonsContainsMarker(marker){
                    this.building.zones.forEach((pol)=>{
                        var xp = [], yp = [];
                        pol.geo.geometry.coordinates[0].forEach(c=>{
                            yp.push(c[0]);
                            xp.push(c[1]);
                        });
                        if (inPoly(marker.getLatLng().lat, marker.getLatLng().lng, xp,yp)){

                        }
                    })
                },
                drawPolygons(){
                    this.building.zones.forEach((pol)=>{
                        L.geoJSON(pol.geo).addTo(this.map).bindTooltip(pol.title,
                            {
                                permanent: true,
                                direction: 'auto'
                            });
                    })
                },
                savePolygons(){
                    $.ajax({
                        url: '{{ path_for('map.savePolygons') }}',
                        method: 'post',
                        data:{
                            id: this.building.id,
                            polygons: JSON.stringify(this.building.zones)
                        }
                    })
                }
            },
            mounted(){
                this.building.zones.map((z)=>{
                   z.geo = JSON.parse(z.geo);
                });
                if (!this.building.zones){
                    this.building.zones = [];
                }
                this.initMap();
            }
        });
    </script>
    <script>
        function inPoly(x,y, xp, yp){
            npol = xp.length;
            j = npol - 1;
            var c = 0;
            for (i = 0; i < npol;i++){
                if ((((yp[i]<=y) && (y<yp[j])) || ((yp[j]<=y) && (y<yp[i]))) &&
                    (x > (xp[j] - xp[i]) * (y - yp[i]) / (yp[j] - yp[i]) + xp[i])) {
                    c = !c
                }
                j = i;
            }
            return c;
        }
    </script>
{% endblock %}