{% extends "admin/layout/layout.twig" %}

{% block title %}Карта предприятия{% endblock %}

{% block page_title %}Карта предприятия{% endblock %}

{% block links %}

{% endblock %}
{% block icons %}
    <a href="{{ path_for('map.showAddBuilding') }}" class="btn btn-link btn-float text-default">
        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
        <span>Добавить здание</span>
    </a>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% for building in buildings %}
                <a href="{{ path_for('map.mapedit', {id:building.id}) }}">{{ building.title }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="card">
        <div class="card-body">

        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">

    </script>
{% endblock %}